@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #007bff;
$mdc-theme-secondary: #6c757d;
// Other Svelte color: #40b3ff

$mdc-theme-background: #13131A;
$mdc-theme-surface: #1C1C24;

$mdc-theme-error: $material-color-red-900;
