@import "./_variables.scss";
@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: theme-color('primary');
$mdc-theme-secondary: theme-color('primary');
// Other Svelte color: #40b3ff

$mdc-theme-background: $white;
$mdc-theme-surface: $gray-100;

$mdc-theme-error: $material-color-red-900;
